[Unit]
Wants=network-online.target
After=network-online.target
Description=Displays time and current task in frame buffer zero.

[Service]
ExecStart=/usr/bin/fireplace /usr/share/fireplace

[Install]
WantedBy=multi-user.target

